#object_types {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #ddd;
  min-height: 200px;
}

#next_images {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #ddd;
  min-height: 200px;
}

#right_bar {
  background-color: #f5f5f5;
  border-left: 1px solid #eee;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  height: 100vh;
}

#annotated_box {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 1px #ddd;
  min-height: 400px;
}

#annotator_buttons_right {
  float: right;
}
#annotator_buttons_left {
  float: left;
}
/*.radio {
  white-space: nowrap;
}*/

.radio input[type="radio"] {
  margin-right: 10px;
}

.radio label {
  /*display: block;
  background-color: red;
  padding-left: 10px;*/
  padding-top: 0px;
}

.text_input {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 85%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.close-button {
  position: absolute;
  padding: 16px 16px 0 0;
  /*overflow: hidden; */
  color: #fff;
  background-color: #030;
  border: 2px solid #fff;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
}

.close-button:before,
.close-button:after {
  position: absolute;
  left: 7px;
  top: 0px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: white;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}
