.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#object_types {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #ddd;
  min-height: 200px;
}

#next_images {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #ddd;
  min-height: 200px;
}

#right_bar {
  background-color: #f5f5f5;
  border-left: 1px solid #eee;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  height: 100vh;
}

#annotated_box {
  border: 1px solid #eee;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 1px #ddd;
  min-height: 400px;
}

#annotator_buttons_right {
  float: right;
}
#annotator_buttons_left {
  float: left;
}

.label_radio {
  margin-left: 10px;
}

.text_input {
  margin-right: 5px;
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.close-button {
  position: absolute;
  /* top: -8px;
  right: -8px;
  width: 16px;
  height: 0; */
  padding: 16px 0 0 0;
  overflow: hidden;
  color: #fff;
  background-color: #030;
  border: 2px solid #fff;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}
